---
import { getEvenements } from '../../../backend/backend.mjs';

const evenements = await getEvenements();
---

<h1>Liste des Événements</h1>
<a href="/evenements/creation_evenement">Créer un évènement</a>

{evenements ? (
  <ul>
    {evenements.map((event) => (
      <li>
        <h2>{event.Nom}</h2>
         {event.img ? (
          <div>
            <p><strong>Image :</strong></p>
            <img src={event.img} alt={`Image de ${event.Nom}`} width="300" />
            <p>{event.img}</p> {}
          </div>
        ) : (
          <p>Aucune image disponible.</p>
        )}
        <p><strong>Catégorie :</strong> {event.categorie}</p>
        <p><strong>Description :</strong> {event.Description}</p>
        <p><strong>Horaire :</strong> {new Date(event.Horaire).toLocaleString('fr-FR')}</p>
        <p><strong>Lieu :</strong> {event.Lieu}</p>
        <p><strong>Organisateur :</strong> {event.Organisateur}</p>
        <p><strong>Participants max :</strong> {event.Participants_max}</p>
        <p><strong>Inscription :</strong> {event.Inscription}</p>
        <p><strong>Prix :</strong> {event.Prix}</p>
        <p><strong>Résumé :</strong> {event.Snippet}</p>
        <hr />
      </li>
    ))}
  </ul>
) : (
  <p>Aucun événement trouvé.</p>
)}
