---
import PocketBase from 'pocketbase';
import Header from '../../../src/components/Header.astro';
import Footer from '../../../src/components/Footer.astro';

const { id } = Astro.params;

const pb = new PocketBase('https://pb-faclink.alice-frelin.fr:443');
const event = await pb.collection('evenement').getOne(id);
---

<Header />

<h1>{event.Nom}</h1>

<img src={pb.files.getUrl(event, event.Image)} alt="Image de l'événement" width="300" />

<p><strong>Description :</strong> {event.Description}</p>
<p><strong>Lieu :</strong> {event.Lieu}</p>
<p><strong>Horaire :</strong> {new Date(event.Horaire).toLocaleString()}</p>
<p><strong>Organisateur :</strong> {event.Organisateur}</p>
<p><strong>Participants max :</strong> {event.Participants_max}</p>
<p><strong>Catégorie :</strong> {event.categorie}</p>
<p><strong>Inscription :</strong> {event.Inscription}</p>
<p><strong>Prix :</strong> {event.Prix}</p>
<p><strong>Snippet :</strong> {event.Snippet}</p>

<Footer />
